@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* start: global styles */
* {
  outline: none;
 
}

*:not(.slick-track), *:not(.slick-list) {
  transition: 0.4s;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Sans-serif';
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #353535;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 2px;
}

h1, h3, h4, h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 2.85rem;
  letter-spacing: 7px;
  color: #fff;
  margin-bottom: 3rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}
/* button {
  cursor: pointer;
  background: #233EDE;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  padding: 1.25rem 3rem;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', 'Helvetica', 'Sans-serif';
  letter-spacing: 2px;
} */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


section, footer {
  padding: 5rem 0;
  text-align: center;
}

.container1 {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: center;
}



/*   Header  And navigation Section     */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: black;  /* header color  */
  color: #fff;
  padding: 1rem 0;
  z-index: 1;
}

header nav {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

header nav ul.flex {
  align-items: center;
  justify-content: space-around;
}

header nav ul li a {
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.top-gym-logo {
  margin: 0 2rem;
  border: 2px solid #fff;
  padding: 15px 10px 7px;
  text-align: center;
  letter-spacing: 2px;
}

.top-gym-logo a {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
}

.top-gym-logo a:hover {
  text-decoration: none;
}

#header-logo-mobile {
  display: none;
}

#search {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  width: auto;
  padding: 0;
  font-size: 15px;
  border: none;
  background: transparent;
  color: #fff;
}

#hamburger-menu {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 3px 5px;
  width: 30px;
  cursor: pointer;
  margin: 0 1rem;
  display: none;
}

#hamburger-menu .strip {
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 4px 0;
}
/*   End of header section    */


/* for section intro */
.intro{
  margin-top: -104px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 12px;
}
/* for left */
.leftin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 40%;
  box-sizing: border-box;
}
.leftin h1{
  font-weight: bolder;
    text-align: center;
    font-family: 'Passion One', cursive;
    color: #000000;
    font-size:4.5vw ;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    line-height: 1.3;
}
.leftin p{
  text-align: center;
  font-size: 1.4vw;
  color: #6e6d6d;
       padding: 0px 58px;
    font-family: 'Fredoka One', cursive;

}
/* for right */
.rightin{
  flex: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    padding: 35px;
    box-sizing: border-box;
}

.rightin .card img{
 
  max-height: 250px;
  height: 250px;
   width: 360px;
  padding: 23px 29px;
  border-radius: 53px;
}



/*  starts for the buttons for the tutorial and packs  */
button{
  cursor: pointer;
  background: #233EDE;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  padding: 10px 10px;
}
button:hover{
  box-shadow: rgba(46, 46, 241, 0.54) 0px 10px 19px 0px;
}
.buttonClass{
  background: rgba(243, 50, 50, 0.932);
  border-radius: 25px;
  width: 140px;
  margin: 20px 20px;
  height: 50px;
  margin-bottom: 12px;
}
.btncolor{
  background-color: black;
}
hr{
  padding: 0px;
  margin: 0px;
  background-color:black;
}

/*  starts for the buttons for the tutorial and packs  */

/* Flash card for different workouts css starts   */
.main {
  background-color: rgba(214, 209, 209, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.headingcommon{
  font-family: 'Passion One', cursive;
  flex: 100%;
  font-size: 3rem;
  padding: 2rem;
  text-align: left;
  color: #353535;;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardmain{
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 27px;
  background-color: wheat;
  margin: 12px;

}

.cardmain:hover {
  box-shadow: rgba(42, 42, 233, 0.54) 0px 10px 19px 0px;
}

.cardmain a{
  text-decoration: none;
  color: black;
}

.cardmain img{
  width: 300px;
  height: 250px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
}

.down{
  padding: 14px;
}

.down h3{
  color: #353535;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 0px;
}

.down p{
  text-align: justify;
  text-transform: none;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius:27px ;
}

#bellyfat{
  background-color: rgba(192, 189, 189, 0.534);
}

#coreworkout{
  background-color: rgba(175, 173, 173, 0.534);
}

/*    End of Flash card diffrent workouts      */



/*   Start of trainer slides    */
#trainers {
    background: url('https://onclickwebdesign.com/wp-content/uploads/trainer-bg.jpg') top center no-repeat;
    background-size: cover;
    
}
  
#trainers-slider {
    width: 90%;
    margin: 0 auto;
}
  
#trainers-slider .slick-slide {
    padding: 0 20px;
}
  
#trainers-slider .trainer-slider-item img {
    width: 100%;
}
  
#trainers-slider h4 {
    color: #fff;
    margin-top: 2.5rem;
}
  
#trainers-slider p {
    color: #fff;
    opacity: 0.6;
}
  
#trainers-slider .slick-prev {
    left: -30px;
}
  
#trainers-slider .slick-next {
    right: -10px;
}
  
#trainers-slider .slick-prev:before,
#trainers-slider .slick-next:before {
    font-size: 40px;
}
/*    End of Trainer slider     */


/* start: footer section styles */
footer {
  background: url('https://onclickwebdesign.com/wp-content/uploads/footer-bg.jpg') top center no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

.footer-container {
  max-width: 625px;
  margin: 0 auto;
}

#footer-logo {
  display: inline-block;
}

footer nav {
  margin: 2rem 0 6rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
}

footer .mailing-list {
  position: relative;
}

footer input {
  color: #fff;
  height: 78px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #fff;
  font-size: 13px;
  font-style: italic;
  padding-left: 2rem;
}

footer button {
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 1.75rem 3rem;
}

footer ul.social-icons {
  max-width: 400px;
  margin: 4rem auto 3rem;
}

footer ul.social-icons li a {
  font-size: 1rem;
}

footer img.bicep {
  display: block;
  margin: 0 auto 2rem;
}

footer small {
  color: #fff;
  opacity: 0.8;
  font-weight: 300;
  margin: 0 0.5rem;
}

footer small a {
  color: #fff;
  text-decoration: underline;
}
/* end: footer section styles */

  /* start for the  tutorial block  */
.videodivclass .workouttutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(214, 209, 209, 0.5);
}
.videoframe{
    width: 560px;
    height:315px;
    margin: 10px;

}
.workouttutorial h1{
    font-family: 'Passion One', cursive;
    flex: 100%;
    font-size: 3rem;
    padding: 2rem;
}

  /* start for the  tutorial block  */
        

/* for special effect */


/* .swiper-slide {
    text-align: center;
    background: #fff;
    Center slide text vertically
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */
   /* Image Accordions General */
  /* .container-general {
    padding: 75px 0;
    margin: 0 auto;
    width: 800px;
  } */
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
    .item {
      flex: 1;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: none;
      transition: all 0.8s ease;
    }
      .item:hover {
        flex: 7;
      }
    
  


/* // Image Accordions Effect 1 */

 
  .wrap-effect-1 .item:first-of-type {
      background-image: url('images/12.png'); 
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;

     
    }
    .wrap-effect-1 .item img{
      height: 100%;
      width: 100%;
    }
    .wrap-effect-1 .item:nth-of-type(2) {
      background-image: url('images/new.jpg');
    }
    .wrap-effect-1 .item:nth-of-type(3) {
      background-image: url('images/info2.png');
    }
    .wrap-effect-1 .item:nth-of-type(4) {
      background-image: url('images/info3.png');
    }
    .wrap-effect-1 .item:last-of-type {
      background-image: url('images/yog2.jpg');
      border-bottom-right-radius: 12px;
      border-top-right-radius: 12px;
    }